<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar">

	  <!-- Sidebar user panel (optional) -->
	  <div class="user-panel">
	  </div>

	  <!-- Sidebar Menu -->
	  <ul class="sidebar-menu">
	    <li class="header">MENÚ</li>
	    <!-- Optionally, you can add icons to the links -->
      <% if current_user.admin? %>
		    <li class="treeview">
		      <a href="#"><i class="fa fa-user"></i> <span>Usuarios</span>
		        <span class="pull-right-container">
		          <i class="fa fa-angle-left pull-right"></i>
		        </span>
		      </a>
		      <ul class="treeview-menu">
		      	<% if can? :read, User %>
							<li><a href="<%= users_url %>"><i class="fa fa-list"></i> Todos los usuarios</a></li>
		      	<% end %>
		      	<% if can? :create, User %>
		        	<li><a href="<%= new_user_path %>"><i class="fa fa-plus"></i> Nuevo usuario</a></li>
		        <% end %>
		      </ul>
	    	</li>
      <% end %>
	    <li class="treeview">
	      <a href="#"><i class="fa fa-book"></i> <span>Cursos</span>
	        <span class="pull-right-container">
	          <i class="fa fa-angle-left pull-right"></i>
	        </span>
	      </a>
	      <% if current_user.admin? %>
		      <ul class="treeview-menu">
		      	<li><a href="<%= courses_path %>"><i class="fa fa-list"></i> Todos los cursos</a></li>
		      	<% if can? :create, Course %>
		        	<li><a href="<%= new_course_path %>"><i class="fa fa-plus"></i> Nuevo curso</a></li>
		        <% end %>
		      </ul>
	      <% else %>
	      	<ul class="treeview-menu">
		      	<li><a href="<%= courses_path %>"><i class="fa fa-list"></i> Mis cursos</a></li>
	        	<li><a href="#<%#= new_course_path %>"><i class="fa fa-chevron-circle-left"></i> Cursos antiguos</a></li>
		      </ul>
	      <% end %>	
	    </li>
	    <li class="treeview">
	      <a href="#"><i class="fa fa-check-square-o"></i> <span>Encuestas</span>
	        <span class="pull-right-container">
	          <i class="fa fa-angle-left pull-right"></i>
	        </span>
	      </a>
	      <% if current_user.admin? %>
		      <ul class="treeview-menu">
		      	<li><a href="<%= surveys_path %>"><i class="fa fa-list"></i> Todas las encuestas</a></li>
		      	<% if can? :create, Survey %>
		        	<li><a href="<%= new_survey_path %>"><i class="fa fa-plus"></i> Nueva encuesta</a></li>
		        <% end %>
	        	<li><a href="#<%#= new_survey_path %>"><i class="fa fa-pie-chart"></i> Resultados</a></li>
		      </ul>
	      <% elsif current_user.teacher? %>
		      <ul class="treeview-menu">
		      	<li><a href="<%= my_surveys_path %>"><i class="fa fa-list"></i> Encuestas activas</a></li>
	        	<li><a href="#<%#= new_survey_path %>"><i class="fa fa-chevron-circle-left"></i> Encuestas anteriores</a></li>
	        	<li><a href="#<%#= new_survey_path %>"><i class="fa fa-pie-chart"></i> Resultados</a></li>
		      </ul>
	      <% else %>
		      <ul class="treeview-menu">
	        	<li><a href="<%= my_surveys_path %>"><i class="fa fa-list"></i> Mis encuestas</a></li>
		      	<li>
		      		<a href="<%= my_pending_surveys_path %>"><i class="fa fa-exclamation-triangle"></i> Encuestas pendientes 
		      			<% if get_pending_surveys > 0 %>
			      			<span class="pull-right-container">
			      				<span class="label label-warning pull-right"><%= get_pending_surveys %></span>
			      			</span>
		      			<% end %>
	      			</a>
      			</li>
	        	<!-- <li><a href="#<%#= new_survey_path %>"><i class="fa fa-chevron-circle-left"></i> Encuestas anteriores</a></li> -->
		      </ul>
	      <% end %>
	    </li>
	  	<li><%= link_to destroy_user_session_path, method: :delete do %><i class="fa fa-sign-out"></i> <span>Cerrar Sesión</span><%end%></li>
	  
	  </ul>
	  <!-- /.sidebar-menu -->
	</section>
	<!-- /.sidebar -->
</aside>
