<section class="content-header">
  <h1>
    Información de Mascota
    <a class="btn btn-primary btn-xs" href="<%= edit_pet_path(@pet) %>"><i class="fa fa-pencil"></i> Editar</a>
  </h1>
  
  <ol class="breadcrumb">
    <li><a href="<%= clients_path %>">Clientes</a></li>
    <li><a href="<%= client_path(@pet.client_id) %>">Ver Cliente</a></li>
    <li class="active">Ver Mascota</li>
  </ol>
  <a href="<%= client_path(@pet.client_id) %>"><i class="fa fa-arrow-left"></i> Volver</a>
</section>
<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="container-fluid box box-primary table-pad">
       <div class="box-header with-border">
        <h3>
          Información cliente
          <small>Datos personales de cliente</small>
        </h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
      </div>
      <div class="box-body">
        <table class="table table-striped">
          <tbody>
            <tr>
              <th>Nombre</th>
              <td><%= @pet.name %></td>
            </tr>

            <tr>
              <th>Género</th>
              <td><%= @pet.genre %></td>
            </tr>

            <tr>
              <th>Raza</th>
              <td><%= @pet.race.name %></td>
            </tr>

            <tr>
              <th>Fecha de nacimiento</th>
              <td><%= @pet.birthdate.nil? ? '' : l(@pet.birthdate, format: '%d de %B del %Y') %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="container-fluid box box-warning table-pad">
      <div class="box-header with-border">
        <h3>
          Observaciones de la mascota          
        </h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
      </div>
      <div class="box-body row">
        <%= @pet.observations %>
      </div>
    </div> 
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="container-fluid box box-success table-pad">
      <div class="box-header with-border">
        <h3>
          Alojamientos          
        </h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
      </div>
      <div class="box-body row">
        Función aun no disponible
      </div>
    </div>
  </div>  
</div>
