<%= form_for @new_user, url: {action: action} do |f| %>
	<div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control', required: true, data: {error: 'El email ingresado no es válido'} %>
    <span class="help-block with-errors"></span>
  </div>
  <div class="form-group">
    <%= f.label :nombre %><br />
    <%= f.text_field :name, class: 'form-control', required: true %>
    <span class="help-block with-errors"></span>
  </div>
  <div class="form-group">
    <%= f.label :apellido %><br />
    <%= f.text_field :lastname, class: 'form-control', required: true %>
    <span class="help-block with-errors"></span>
  </div>
  <div class="form-group">
  	<%= f.label "Rol de usuario" %><br>
  	<%#= f.select(:roles_id, options_for_select(Role.all.map{|role| [role.id, role.name]})) %>
		<%= f.collection_select(:roles_id, Role.all, :id, :name, {}, {class: 'form-control'}) %>
  </div>
  <%= f.submit "Guardar", class: "btn btn-primary btn-block btn-flat" %>
<% end %>