<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Ver usuario
    <small>Ver toda la información de un usuario</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="<%= users_url %>">Usuarios</a></li>
    <li class="active">Ver usuario</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <%= link_to users_url do %>
        <i class="fa fa-arrow-left"></i> Volver
      <% end %>
    </div>
  </div>
  <div class="row">
    <br>
    <div class="col-xs-12 col-md-6">
      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title">Información personal</h3>
        </div>
        <div class="box-body">
          <table class="table">
            <tbody>
              <tr>
                <th>Nombre</th>
                <td><%= @user.full_name %></td>
              </tr>
              <tr>
                <th>Email</th>
                <td><%= @user.email %></td>
              </tr>
              <tr>
                <th>Rol</th>
                <td><%= @user.role %></td>
              </tr>
              <tr>
                <th>Estado</th>
                <td><%= @user.status ? 'Activo' : 'Desactivado' %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="box box-success">
        <div class="box-header with-border">
          <h3 class="box-title">Cursos asignados</h3>
        </div>
        <div class="box-body">
          <table class="table">
            <thead>
              <tr>
                <th colspan="2">Curso</th>
              </tr>
            </thead>
            <tbody>
              <% @user.get_courses.each do |course| %>
                <tr>
                  <td><%= course.name %></td>
                  <td>
                    <%= link_to 'Ver curso', course, class: 'btn btn-primary btn-flat' %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /.content -->
