<p id="notice"><%= notice %></p>

<h1>Listing Clients</h1>

<table>
  <thead>
    <tr>
      <th>Clientrut</th>
      <th>Clientname</th>
      <th>Clientlastname</th>
      <th>Clientemail</th>
      <th>Clientcellphone</th>
      <th>Clientaddress</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.clientRut %></td>
        <td><%= client.clientName %></td>
        <td><%= client.clientLastName %></td>
        <td><%= client.clientEmail %></td>
        <td><%= client.clientCellPhone %></td>
        <td><%= client.clientAddress %></td>
        <td><%= link_to 'Show', client %></td>
        <td><%= link_to 'Edit', edit_client_path(client) %></td>
        <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Client', new_client_path %>
