<section class="content-header">
  <h1>
    Información Cliente
    <a class="btn btn-primary btn-xs" href="<%= edit_client_path(@client) %>"><i class="fa fa-pencil"></i> Editar</a>
  </h1>
  
  <ol class="breadcrumb">
    <li><a href="<%= clients_path %>"></i>Clientes</a></li>
    <li class="active">Ver Cliente</li>
  </ol>
  <a href="<%= clients_path %>"><i class="fa fa-arrow-left"></i> Volver</a>
</section>
<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="container-fluid box box-primary table-pad">
       <div class="box-header with-border">
        <h3>
          Información cliente
          <small>Datos personales de cliente</small>
        </h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
      </div>
      <div class="box-body">
        <table class="table table-striped">
          <tbody>
            <tr>
              <th>Rut</th>
              <td><%= @client.clientRut %></td>
            </tr>
            <tr>
              <th>Nombre:</th>
              <td><%= @client.clientName %></td>
            </tr>
            <tr>
              <th>Rut:</th>
              <td><%= @client.clientRut %></td>
            </tr>
            <tr>
              <th>Nombre:</th>
              <td><%= @client.clientName %></td>
            </tr>
            <tr>
              <th>Apellido:</th>
              <td><%= @client.clientLastName %></td>
            </tr>
            <tr>
              <th>E-mail:</th>
              <td><%= @client.clientEmail %></td>
            </tr>
            <tr>  
              <th>Teléfono:</th>
              <td><%= @client.clientCellPhone %></td>
            </tr>
            <tr>  
              <th>Dirección:</th>
              <td><%= @client.clientAddress %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="container-fluid box box-info table-pad">
      <div class="box-header with-border">
        <h3>
          Información financiera
          <small>Estado de cuenta del cliente</small>
        </h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
      </div>
      <div class="box-body row">
        <p>Abonos</p>
        <%= number_to_currency(@client.payments_total, precision: 0, unit: "$ ", delimiter: ".")%>
      </div>
    </div>
        
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="container-fluid box box-warning table-pad">
      <div class="box-header with-border">
        <h3>
          Información de mascotas
          <small>Listado de las mascotas del cliente registradas en el sistema</small>
        </h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
      </div>
      <div class="box-body row">
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          <i class="fa fa-plus"></i> Agregar mascota
        </button>
        <div class="collapse" id="collapseExample">
          <div class="well">
            <%= render 'new_pet_form' %>
          </div>
        </div>
        <% if @client.pets.empty? %>
          <p>Este usuario no tiene mascotas registradas</p>
        <% else %>
          <% @client.pets.each do |pet| %>
            <p><%= pet.inspect %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    
    <div class="container-fluid box box-success table-pad">
      <div class="box-header with-border">
        <h3>
          Atenciones y servicios consumidos
          <small>Total de prestaciones que el cliente ha servido</small>
        </h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
      </div>
      <div class="box-body row">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere minima quod cum quaerat saepe quam iusto, dolor maxime quia reprehenderit neque possimus, magnam, enim illum sed fugit repellat libero. Asperiores?
      </div>
    </div>  
  </div>
</div>

<div class="row container-fluid ">
  <div class="col">
  </div>
  <div class="col col-lg-6 col-md-6 col-sm-6">
  </div>
  <div class="col col-lg-6 col-md-6 col-sm-6">
  </div>
</div>