<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Mis encuestas
    <small>Ver todas mis encuestas</small>
  </h1>
  <ol class="breadcrumb">
    <li class="active">Mis encuesta</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
	<div class="row">
    <div class="col-xs-12">
      <%= link_to root_path do %>
        <i class="fa fa-arrow-left"></i> Volver
      <% end %>
    </div>
  </div>
  <br>
  <div class="row">
  	<div class="col-xs-12">
  		<div class="box box-primary">
  			<div class="box-header">
  				<h3 class="box-title">Mis encuestas</h3>
  			</div>
  			<div class="box-body">
  				<table class="table">
  					<thead>
  						<th>Encuesta</th>
  						<th>Asignatura (Semestre/Año)</th>
  						<th>Evalúa a</th>
  						<th>Estado</th>
  						<th></th>
  					</thead>
  					<tbody>
  						<% @assigned_surveys.each do |survey| %>
  							<tr>
  								<td><%= survey.name %></td>
  								<td><%= survey.course.name %> (<%= survey.course.sem_year %>)</td>
                  <td><%= survey.evaluated_user.nil? ? '' : survey.evaluated_user.full_name %></td>
                  <% if survey.answered %>
                    <td class="text-green"><i class="fa fa-check"></i> Contestada</td>
                    <td><%= link_to 'Ver respuestas', survey_results_path(survey.survey_id), class: 'btn btn-success btn-flat' %></td>
                  <% else %>
                    <td class="text-yellow"><i class="fa fa-exclamation-triangle"></i> Pendiente</td>
  									<td><%= link_to 'Contestar', answer_survey_path(survey), class: 'btn btn-warning btn-flat' %></td>
                  <% end %>
  							</tr>
  						<% end %>
  					</tbody>
  				</table>
  			</div>
  		</div>
  	</div>	
  </div>
</section>