<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @payment.description %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>

<p>
  <strong>Pay date:</strong>
  <%= @payment.pay_date %>
</p>

<p>
  <strong>Verified:</strong>
  <%= @payment.verified %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
