<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Ver detalles de <%= params[:survey_name] %>
  </h1>
  <ol class="breadcrumb">
    <li><a href="<%= courses_path %>">Cursos</a></li>
    <li><a href="<%= course_path(@course) %>"><%= @course.name %></a></li>
    <li>Detalles de encuesta</li>
    <li class="active"><%= params[:survey_name] %></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
	<div class="row">
		<div class="col-xs-12">
      <%= link_to course_path @course do %>
        <i class="fa fa-arrow-left"></i> Volver
      <% end %>
		</div>	
	</div>
	<br>
	<div class="row">
		<div class="col-xs-12">
			<div class="box box-primary">
				<div class="box-header">
					<h3 class="box-title">Estado de la encuesta</h3>
				</div>
				<div class="box-body">
					<table class="table">
						<thead>
							<th>Estudiante</th>
							<th>Evalúa a</th>
							<th>Grupo</th>
							<th>Estado</th>
							<th></th>
						</thead>
						<tbody>
							<% @assigned_survey.each do |survey| %>
								<tr>
									<td><%= survey[:student] %></td>
									<td><%= survey[:evaluated] %></td>
									<td><%= survey[:group] %></td>
									<% if survey[:answered] %>
                    <td class="text-green"><i class="fa fa-check"></i> Contestada</td>
                    <td><%#= link_to 'Ver respuestas', survey_results_path(survey[:survey_id], @course.id, params[:survey_name], survey[:evaluated_user_id]), class: 'btn btn-success btn-flat' %></td>
                  <% else %>
                    <td class="text-yellow"><i class="fa fa-exclamation-triangle"></i> Pendiente</td>
  									<td>
  										<%= link_to send_notification_path(survey_id: survey[:assigned_survey]), class: 'btn btn-warning btn-flat btn-notify' do %>
  											<i class="fa fa-send"></i> Enviar recordatorio
  										<% end %>
  									</td>
                  <% end %>
								</tr>
							<% end %>
						</tbody>
					</table>
					<div class="paginate">
						<%= will_paginate @assigned_survey, renderer: BootstrapPagination::Rails %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-6">
			<div class="box box-success">
				<div class="box-header">
					<h3 class="box-title">Resultados</h3>
				</div>
				<div class="box-body">
					<div id="group-results">
						<div class="nav-tabs-custom">
							<ul class="nav nav-tabs">
								<% @group_result.size.times do |group| %>
									<li class="<%= group == 0 ? 'active' : nil %>">
										<a href="#tab<%= group %>" data-toggle="tab" aria-expanded="true">Grupo <%= group+1 %></a>
									</li>
								<% end %>
							</ul>
							<div class="tab-content">
								<% @group_result.size.times do |group| %>
									<div class="tab-pane <%= group == 0 ? 'active' : nil %>" id="tab<%= group %>">
										<table class="table table-result">
											<thead>
												<th>Estudiante</th>
												<th>Módulo</th>
											</thead>
											<tbody>
												<% @group_result[(group+1).to_s].each do |result| %>
													<tr>
														<td><%= result[:student] %></td>
														<td class="<%= result[:result] < 0 ? 'red' : 'green' %>"><%= result[:result].round(2) %></td>
													</tr>
												<% end %>
											</tbody>
										</table>
									</div>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="box box-primary">
				<div class="box-header">
					<h3 class="box-title">Porcentaje de encuestas contestadas por grupo</h3>
				</div>
				<div class="box-body">
					<table class="table">
						<thead>
							<th>Grupo</th>
							<th>% Contestadas</th>
							<th></th>
						</thead>
						<tbody>
							<% @groups_percentage.each do |group| %>
								<tr>
									<td>Grupo <%= group[:name] %></td>
									<td><%= number_to_percentage(group[:percentage], strip_insignificant_zeros: true) %></td>
									<td>
										<% if group[:percentage] > 0 %>
											<%= link_to 'Ver resultados', survey_group_results_path(@course.id, params[:survey_name], group[:name]), class: 'btn btn-success btn-flat' %>
										<% end %>
									</td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
	$('.btn-notify').click(function(){
		console.log('sadfas');
		var parent = $(this).parent();
		$(this).hide();
		parent.text('Enviando notificación...');
	});
</script>