<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Ver curso
    <small>Ver toda la información de un curso</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="<%= courses_path %>">Cursos</a></li>
    <li><a href="<%= course_path(@course) %>"><%= @course.name %></a></li>
    <li class="active">Asignar estudiantes</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <%= link_to course_path(@course) do %>
        <i class="fa fa-arrow-left"></i> Volver
      <% end %>
    </div>
  </div>
  <div class="row">
    <br>
    <div class="col-xs-12 col-md-6">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Estudiantes registrados</h3>
          <p>Haga click sobre los estudiantes que desea asignar al curso</p>
        </div>
        <div class="box-body" id="available-students">
          <% @unassigned_students.each do |student| %>
            <button id="student<%= student.id %>" class="btn btn-default student-button" onclick="assignStudent(<%= student.id %>, <%= @course.id %>, null)" draggable="true" ondragstart="drag(event)"><%= student.email %></button>
          <% end %>
        </div>
        <div class="box-footer">
          <i class="fa fa-info-circle primary"></i> Click derecho para asignar como ayudante
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="box box-success">
        <div class="box-header with-border">
          <h3 class="box-title">Estudiantes asignados</h3>
          <p>Haga click sobre los estudiantes que desea quitar del curso</p>
          <div class="box-tools pull-right">
            <button id='add-group' class="btn btn-primary btn-flat"><i class="fa fa-plus"></i> Agregar grupo</button>
          </div>
        </div>
        <div id="unassigned-students">          
          <% unless @assigned_students[nil].nil? %>
            <% @assigned_students[nil].each do |student| %>
              <button id="student<%= student[:id] %>" class="btn <%= student[:role] == 'ayudante' ? 'btn-primary' : student[:role] == 'jefe de grupo' ? 'btn-success' : 'btn-default' %> student-button" onclick="removeStudent(<%= student[:id] %>, <%= @course.id %>, null)" draggable="true" ondragstart="drag(event)"><%= student[:email] %></button>
            <% end %>
          <% end %>
        </div>
        <div class="box-body" id="assigned-students">          
          <% @groups.each do |group| %>
            <div class="box box-group">
              <div class="box-header with-border">
                <h3 class="box-title">Grupo <%= group[0] %></h3>
                <div class="box-tools pull-right">
                  <button class="btn btn-danger btn-flat" onclick="removeGroup(<%= group[0] %>)"><i class="fa fa-times"></i> Eliminar grupo</button>
                </div>
              </div>
              <div class="box-body" group="<%= group[0] %>" id="group<%= group[0] %>" ondrop="drop(event)" ondragover="allowDrop(event)">
                <% group[1].each do |student| %>
                  <button id="student<%= student[:id] %>" class="btn <%= student[:role] == 'ayudante' ? 'btn-primary' : student[:role] == 'jefe de grupo' ? 'btn-success' : 'btn-default' %> student-button" onclick="removeStudent(<%= student[:id] %>, <%= @course.id %>, null)" draggable="true" ondragstart="drag(event)"><%= student[:email] %></button>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="box-footer">
          <i class="fa fa-info-circle primary"></i> 
          <span class="label label-primary">Ayudante</span>
          <span class="label label-success">Jefe de Grupo</span>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /.content -->

<script>
  function assignStudent(student_id, course_id, role){
    $.post('<%= assign_student_to_course_path %>',
          {
            course_id: course_id,
            student_id: student_id,
            role: role
          })
          .done(function(data){
            if (role == 'ayudante') {
              $('#unassigned-students').append($('#student'+student_id).remove().attr('onclick', 'removeStudent('+student_id+','+course_id+', null)').removeClass('btn-default').addClass('btn-primary'));
            }
            else {
              $('#unassigned-students').append($('#student'+student_id).remove().attr('onclick', 'removeStudent('+student_id+','+course_id+', null)'));
            }
            toastr['info']('Estudiante asignado con éxito');
          });
  }

  function removeStudent(student_id, course_id, role){
    $.post('<%= remove_student_from_course_path %>',
          {
            course_id: course_id,
            student_id: student_id,
            role: role
          })
          .done(function(data){
            $('#available-students').append($('#student'+student_id).remove().attr('onclick', 'assignStudent('+student_id+','+course_id+', null)'));
            toastr['info']('Estudiante removido con éxito');
          });
  }

  $(function() {
    $.contextMenu({
      selector: '.student-button', 
      callback: function(key, options) {
        var args = $(this).attr('onclick').split('(')[1].split(',');
        if (key == 'assistant') {
          assignStudent(args[0], args[1], 'ayudante');
        }
        else {
          var new_leader = $(this);
          var group_name = new_leader.parent().attr('group');
          $.post('<%= assign_student_to_course_path %>',
            {
              course_id: args[1],
              student_id: args[0],
              role: 'jefe de grupo',
              group_name: group_name
            })
            .done(function(data){            
              removeOldGroupLeader(group_name);
              new_leader.removeClass('btn-default').addClass('btn-success');
              toastr['info']('Estudiante asignado como jefe de grupo con éxito');
            });
        }
      },
      items: {
        "assistant": {name: "Asignar como ayudante"},
        "group leader": {name: "Asignar como jefe de grupo"}
      }
    });

  });

  function removeOldGroupLeader(group_name) {
    var old_leader = $('#group'+group_name).find('.btn-success');
    if (old_leader.length > 0) {
      var args = old_leader.attr('onclick').split('(')[1].split(',');
      $.post('<%= assign_student_to_course_path %>',
          {
            course_id: args[1],
            student_id: args[0],
            group_name: group_name,
            role: ''
          })
          .done(function(data){            
            old_leader.removeClass('btn-success').addClass('btn-default');
          });
    }
  }

  $('#add-group').click(function(){
    var group_count = $('.box-group').length+1;
    $('#assigned-students').append(
            '<div class="box box-group">'+
              '<div class="box-header with-border">'+
                '<h3 class="box-title">Grupo '+group_count+'</h3>'+
                '<div class="box-tools pull-right">'+
                  '<button class="btn btn-danger btn-flat" onclick="removeGroup('+group_count+')"><i class="fa fa-times"></i> Eliminar grupo</button>'+
                '</div>'+
              '</div>'+
              '<div class="box-body" group="'+group_count+'" id="group'+group_count+'" ondrop="drop(event)" ondragover="allowDrop(event)">'+
              '</div>'+
            '</div>'
            )
  });

  function allowDrop(ev) {
    ev.preventDefault();
  }

  function drag(ev) {
    var args = ev.target.getAttribute('onclick').split('(')[1].split(',');
    ev.dataTransfer.setData("id", ev.target.id);
    ev.dataTransfer.setData("student_id", args[0]);
    ev.dataTransfer.setData("course_id", args[1]);
  }

  function drop(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("id");
    var student = document.getElementById(data);
    student.className = 'btn btn-default student-button';
    if (ev.target.tagName == 'BUTTON') {
      ev.target.parentElement.appendChild(student);
    }
    else{
      ev.target.appendChild(student);
    }
    $.post('<%= assign_student_to_course_path %>',
          {
            course_id: ev.dataTransfer.getData("course_id"),
            student_id: ev.dataTransfer.getData("student_id"),
            role: '',
            group_name: ev.target.getAttribute('group')
          })
          .done(function(data){            
            toastr['info']('Estudiante asignado con éxito');
          });
  }

  function removeGroup(group){
    var students = $('#group'+group).children();
    $('#group'+group).parent().remove();
    $('#unassigned-students').append(students);
    var success = true;
    students.each(function(){
      var args = $(this).attr('onclick').split('(')[1].split(',');
      $.post('<%= assign_student_to_course_path %>',
        {
          course_id: args[1],
          student_id: args[0]
        })
        .fail(function(){
          success = false;
        });
    });
    if (success) {
      toastr['info']('Grupo eliminado con éxito');
    }
  }
</script>