<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @course.semester %>
</p>

<p>
  <strong>Year:</strong>
  <%= @course.year %>
</p>

<p>
  <strong>Status:</strong>
  <%= @course.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @course.user %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
